body {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

thead > tr {
  background-color: #A7C942;
  color: #ffffff;
}

.alt td {
  background-color: #A7C942;
  color: #ffffff;
  text-align: center;
}
